/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

main {
    background-color: #f6f8f9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    background-color: white;
    width: 60%;
    margin: auto;
    height: 600px;
    border-radius: 5px;
}

.first-section, .second-section {
    padding-top: 20px;
    padding-left: 40px;
}

.second-section{
    margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    border-width: 1px;
}

.celeste {
    border-color: #47adf1;
    background-color: #47adf1;
    color: white;
}

.bianco {
    border-color: grey;
    background-color: white;
    color: grey;
}

hr {
    border-style: solid;
    color: #f6f8f9;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    line-height: 30px;
}

.sub-list {
    margin-top: 15px;
}

.titles {
    font-size: 20px;
    font-weight: 700;
    color: #494d56;
    font-family: sans-serif;
}

.list-elements {
    font-size: 17px;
    color: #494d56;
    font-weight: 500;
    font-family: sans-serif;
}

.underline {
    font-family: sans-serif;
    font-size: 10px;
    color: white;
    padding: 6px;
    border-radius: 12px;
    border-width: 1px;
}

.blue {
    background-color: #47adf1;
}

.violet {
    background-color: #9c72e4;
}

.green {
    background-color: #64c0a9;
}

.orange {
    background-color: #f29e33;
}

.pink {
    background-color: #d863a1;
}

.lime {
    background-color: #b0c926;
}

.characters {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    margin-right: 15px;
}

.done {
    color: #70c5b0;
    border: 1px solid #70c5b0;
}

.not-done {
    color: #f1918d;
    border: 1px solid #f1918d;
    font-size: 6px;
}
